<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Valfar NodeWeb</title>
</head>

<body>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>2024 © Valafar</p>
  </footer>
</body>

</html>